{% extends 'base.html' %}
{% block title%} Рецепты {% endblock%}
    {% load static %}
    {% csrf_token %}
    {% block static %}
    <link rel="stylesheet" href={% static 'pages/index.css' %}>
    {% endblock %}
    {% block index %} <li class="nav__item nav__item_active"> {% endblock %}
    {% load user_filters %}
    {% load templates_filters %}

    {% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">Рецепты</h1>
            <ul class="tags">

{% for tag in all_tags %}
                    <li class="tags__item">
                        <a
                            id="{{ tags.slug }}"
                            class="tags__checkbox tags__checkbox_style_{{ tag.color }}
                            {% if tag.slug in request.GET|get_filter_values %} tags__checkbox_active {% endif %}"
                            href="{% url 'index' %}?{{ request|get_filter_link:tag }}"></a>
                        <span class="tags__label">{{ tag.name }}</span>
                    </li>
                {% endfor %}
           </ul>
        </div>
        <div class="card-list">
            {% for recipe in page %}
                {% include 'recipe.html' %}
            {% endfor %}
    </div>
    {% include 'paginator.html' %}
    </main>

    <script src="{% static 'js/config/config.js' %}"></script>
    {% if user.is_authenticated %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>

    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>

    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/indexAuth.js' %}"></script>
    {% else %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Purchases.js' %}"></script>

    <script src="{% static 'js/components/CardList.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'js/indexNotAuth.js' %}"></script>
    {% endif %}
    {% endblock %}