{% load user_filters %}

{% load templates_filters %}

    <div class="card" data-id='{{recipe.id}}'>
        {% load thumbnail %}
        {% thumbnail recipe.image "1920x1080" crop="center" upscale=True as im %}
        <a href='{% url 'recipe_view' recipe.author.username recipe.id%}' class="link" target="_blank"><img src="{{ im.url }}" alt="The author of the recipe did not add a photo" class="card__image"></a>
        {% endthumbnail %}
            <div class="card__body">
                <a class="card__title link" href="{% url 'recipe_view' recipe.author.username recipe.id %}" target="_blank">{{ recipe.title }}</a>
                <ul class="card__items">
                {% if recipe.lunch %}
                    <li class="card__item"><span class="badge badge_style_orange">Обед</span></li>
                {% endif %}
                {% if recipe.breakfast %}
                    <li class="card__item"><span class="badge badge_style_green">Завтрак</span></li>
                {% endif %}
                {% if recipe.dinner %}
                    <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
                {% endif %}
                </ul>

                <div class="card__items card__items_column">
                    <p class="card__text"><span class="icon-time"></span> {{ recipe.cooking_time}} мин.</p>
                    <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' recipe.author.username %}" style="color: black">{{ recipe.author.get_full_name }}</a></p>
                </div>
            </div>
            <div class="card__footer">


{% if user.is_authenticated %}
    {% if recipe|is_shop:user %}
        <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Рецепт добавлен </button>
    {% else %}
        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span> Добавить в покупки </button>
    {% endif %}
    {% if recipe|is_favorite:user %}
        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_active"></span></button>
    {% else %}
        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
    {% endif %}
{% endif %}
            </div>
    </div>
