{% extends 'base.html' %}
{% block title%} Список покупок {% endblock%}
    {% load static %}
    {% csrf_token %}
    {% block static %}
    <link rel="stylesheet" href={% static 'pages/shopList.css' %}>
    {% endblock %}
    {% block index %} <li class="nav__item nav__item_active"> {% endblock %}
    {% load user_filters %}
    {% load templates_filters %}

    {% block content %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shop_list">
            {% for item in shop_list %}
            <li class="shop_list__item" data-id="{{item.recipe.id}}">
                <div class="recipe recipe_reverse">

                    <img src="{{ item.recipe.image.url }}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">{{ item.recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ item.recipe.cooking_time }} мин.</p>
                </div>
                <a href="#" class="shop_list__button link">Удалить</a>
            </li>
        {% endfor %}

        </ul>
        {% if page.has_other_pages %}
        <a href="{% url 'download_list' %}"><button class="button button_style_blue">Скачать список</button></a>
        {% endif %}

    </div>
</main>

<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'js/shopList.js' %}"></script>
{% endblock %}