{% extends 'base.html' %}
{% block title%} Список покупок {% endblock%}
{% load static %}
{% csrf_token %}
{% block static %}
    <link rel="stylesheet" href={% static 'pages/shopList.css' %}>
{% endblock %}
{% load user_filters %}
{% load templates_filters %}

{% block content %}
{% include 'nav.html' with purchases=True%}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">{{ flatpage.title }}</h1>
    </div>
    <p class="custom-text-block">{{ flatpage.content }}</p>
</main>
{% endblock %} 